@import '../../utils/variables';

.button {
  cursor: pointer;
  color: $primary-color;
  font-family: $primary-font-family;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:disabled {
    cursor: default;
    pointer-events: none;
    color: $disabled-gray;
  }
}

.solid {
  background-color: $highlight-color;
  &:hover {
    opacity: 0.8;
    transition: all ease-in 100ms;
  }
  &:active {
    background-color: black;
    transition: all ease-in 100ms;
  }
  &:disabled {
    background-color: $disabled-lightgray;
  }
}

.outline {
  color: $secondary-color;
  border: 1px solid $secondary-color;
  background-color: transparent;
  &:hover {
    background-color: bisque;
    transition: all ease-in 100ms;
  }
  &:active {
    background-color: $highlight-color;
    transition: all ease-in 100ms;
  }
  &:disabled {
    border-color: $disabled-lightgray;
  }
}

.text {
  color: $secondary-color;
  background-color: transparent;
  border: none;
}

.small {
  font-size: 12px;
  width: 100px;
  height: 32px;
}

.medium {
  font-size: 14px;
  width: 140px;
  height: 42px;
}

.large {
  font-size: 16px;
  width: 160px;
  height: 52px;
}

.with-icon {
  svg {
    width: 12px;
  }
}