@import '../../../utils/variables';

tr {
  &:hover {
    background-color: $lighter-gray;
  }

  &:active {
    background-color: $disabled-gray;
  }
}

.active {
  background-color: $disabled-gray;
}

.hover {
  background-color: $lighter-gray;
}
