@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&family=Oxygen+Mono&display=swap');

// Typography
$primary-font-family: 'Oxygen Mono';
$secondary-font-family: 'Darker Grotesque';

// Colors
$primary-color: #FFFCF3;
$secondary-color: #202020;
$highlight-color: #FFCD69;