@import '../../utils/variables';

.table {
  width: 100%;
  font-family: $primary-font-family;
  color: $secondary-color;
  border-collapse: collapse;
  border-spacing: 0px;
  box-sizing: border-box;
}

.rows {
  th, td {
    text-align: left;
  }

  thead {
    border-bottom: 1px solid $secondary-color;

    tr {
      &:hover, &:active {
        background: none;
      }
    }
  }

  tbody {
    font-weight: 300;

    tr {
      border-radius: 10px;
    }
  }

  &-large {
    tr {
      height: 4.5em;
    } 
  }
  
  &-normal {

    tr {
      height: 3.5em;
    }
  }

  &-small {
    tr {
      height: 3em;
    }
  }
}

.lines {
  tbody {
    tr {
      font-weight: 300;
      border-bottom: .5px solid gray;
    }
  }
}

.zebra {
  tbody {
    tr:nth-child(even) {
      background-color: $lighter-gray;
    }

    tr:nth-child(odd) {
      background-color: none;
    }
  }
}

.blank {
  tbody {
    tr {
      background: none;
    }
  }
}