@import '../../utils/variables';

.table {
  width: 100%;
  font-family: $primary-font-family;
  color: $secondary-color;
  border-spacing: 0px;
  box-sizing: border-box;

  svg {
    cursor: pointer;
    width: 12px;
    height: 12px;
  }
}

.rows {
  th, td {
    text-align: left;
  }

  thead {
    th {
      border-bottom: 1px solid $secondary-color;
    }

    tr {
      &:hover {
        background: none;
      }
    }
  }

  tbody {
    font-weight: 300;

    &:last-child {
      border-radius: 0 8px;
    }
  }

  &-large {
    tr {
      height: 4.5em;
    } 
  }
  
  &-normal {

    tr {
      height: 3.5em;
    }
  }

  &-small {
    tr {
      height: 3em;
    }
  }
}

.lines {
  tbody {
    td {
      font-weight: 300;
      border-bottom: .5px solid gray;
    }
  }
}

.zebra {
  tbody {
    tr:nth-child(even) {
      background-color: $lighter-gray;
    }

    tr:nth-child(odd) {
      background-color: none;
    }

    tr:hover {
      background-color: $light-gray;
    }
  }
}

.blank {
  tbody {
    tr {
      background: none;
      &:hover {
        background-color: $light-gray;
      }
    }
  }
}

.bordered {
  border: 2px solid black;
  box-shadow: 0px 4px 0px black;
  border-radius: 8px;

  thead {
    th {
      border-bottom: 4px solid $secondary-color;
    }
  }
}